@use '../../styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 150px;
}


.circle {
    border: solid 2px colors.$neutral-color-01;
    background-color: transparent;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    transition: 0.2s;
    padding: {
        left: 0.4rem;
        top: 0.2rem;
    }
    .icon-color {
        color: colors.$neutral-color-01;
        transition: 0.2s;
        
    }
    &:hover {
        background-color: colors.$neutral-color-01;
        .icon-color {
            color: colors.$primary-color-01
        }
    }
}



