//Primary colors
$primary-color-01: hsl(243, 87%, 12%);            //Very Dark Blue
$primary-color-02: hsl(238, 22%, 44%);          //Desaturated Blue

//Accent colors
$accent-color-01: hsl(224, 93%, 58%);           //Bright Blue
$accent-color-02: hsl(170, 45%, 43%);           //Moderate Cyan

//Neutral colors
$neutral-color-01: hsl(240, 75%, 98%);          //Light Grayish Blue
$neutral-color-02: hsl(0, 0%, 75%);             //Light Gray

//Shadow
$shadow-color-01: rgba(0, 0, 0, 0.3);           //Shadow dark