@use '../../styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    > div {
        margin: 0.5rem;
        border-radius: 50%;
        border: solid 2px colors.$neutral-color-01;
        padding: 0.5rem;
    }
}