@use '../../styles/colors.scss';

.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    > div {
        margin: 0.5rem;
        border-radius: 50%;
        border: solid 2px colors.$neutral-color-01;
        padding: 0.5rem;
        position: relative;
        transition: border-color 0.3s,;
        svg {
            fill: colors.$neutral-color-01;
            transition: fill 0.3s,;
        }
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid colors.$accent-color-01;
            border-radius: 50%;
            opacity: 0;
        }
        &:hover {
            animation: circle-bounce; 
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            border-color: colors.$accent-color-01;
            > svg {
                fill: colors.$accent-color-01
            }
            &::before {
                animation: circle-expand 0.7s
            }
        }
    }
}


@keyframes circle-expand {
    0% {
        transform: scale(1.1);
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    100% {
        transform: scale(1.6);
        opacity: 0;
    }
}

@keyframes circle-bounce {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(20deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}
