@use '../../styles/colors.scss';

.text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container, .non-image-container {
    padding: {
        top: 3rem;
        bottom: 3rem;
        left: 2rem;
        right: 2rem;
    }
}

.picture-style {
    width: 100%;
    min-width: 300px;
}

.non-image-container {
    color: colors.$neutral-color-01;
    h1 {
        font-size: 1.9rem;
    }
    .text-box, .children-box {
        min-width: 300px;
    }
}