@use '../../styles/colors.scss';

.text-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-box, .image-box  {
    padding: {
        top: 2rem;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }
}


.container, .non-image-container {
    padding: {
        top: 3rem;
        bottom: 3rem;
        left: 2rem;
        right: 2rem;
    }
}

.picture-style {
    width: 100%;
    min-width: 300px;
}

.non-image-container {
    color: colors.$neutral-color-01;
    h1 {
        font-size: 1.9rem;
    }
    .text-box, .children-box {
        min-width: 300px;
    }
}

.row-style {
    padding: {
        top: 2rem;
        bottom: 2rem;
    }
}

@media screen and ( max-width: 992px ) {
    .text-box {
        padding: {
            top: 2rem;
            bottom: 2rem;
            left: 0rem;
            right: 0rem;
        }
        >h1, >p {
            text-align: center;
        }
        >h1 {

            font-size: 1.5rem;
            line-height: 2rem;
        }
    }
    
}