@use '../../styles/colors.scss';

.ul-format{
    li {
        list-style: none;
        line-height: 2rem;
    }
}

.link-format {
    text-decoration: none;
    color: colors.$neutral-color-01;
    transition: 0.2s;
    &:hover {
        transform: scale(1.2);
    }
}

.main-container {
    background-color: colors.$primary-color-01;
    .footer-wrapper {
        padding: {
            top: 6rem;
            bottom: 4rem;
            left: 2rem;
            right: 2rem;
        }
    }
}

.logo {
    width: 100px;
}

.contact-table {
    tr {
        td {
            color:white;
            &:nth-child(1) {
                padding-top: 0.8rem;
            }
            &:nth-child(2) {
                padding-left: 1.2rem;
            }
        }
    }
}